{% extends 'base_dashboard.html' %}
{% load bootstrap4 %}
{% block conteudo%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h3">{{ titulo }}</h3>
        </div>
        <div>
            <form action="{% url 'atualizar_item' id_item %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form%}
                <button type="submit" class="btn bnt-sm btn-success">Salvar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}